mixin product_table(products)
    table.table.table-striped
        thead
            tr
                th(scope="col") Image
                th(scope="col") Name
                th(scope="col") Description
                th(scope="col") Position
                th(scope="col") Status
                th(scope="col") Actions
        tbody
            each product in products
                tr
                    td
                        if product.productImages
                            img(src=product.productImages[0].url width='50px')
                        else
                            span N/A
                    td=product.title
                    td=product.body
                    td=product.sectionProducts[0].position || 'N/A'
                    td=product.status == 1 ? 'Active' : 'Inactive'
                    td
                        a(href=`/admin/products/${product.id}/edit`) Edit
            else
                tr
                    th(colspan="6") No Products Available