mixin form(action, method, product, image)
    form(action=action + (method == 'put' ? '?_method=PUT' : '') method='POST')
        if method == 'put'
            input(type="hidden" name="_method" value="PUT")
        label.mb-0(for='product_name') Product Name
        div
            input(id='product_name' name='title', type='text' value=product.title)
        label.pt-3.mb-0(for='product_description') Product Description
        div
            input(id='product_description' type="text" name='body' value=product.body)
        label.pt-3(for= 'image_url') Image URL
        div
            input(type="next" name='url' id='url' value=image.url)
        label.pt-3.mb-0(for='product') Status
        div
            select(id='product' name='status' value=product.status required=true)
                option(value=1 selected=product.status == 1) Active
                option(value=0 selected=product.status == 0) Inactive              
        div
            input.btn.btn-dark.my-4(type='submit' name='Submit')