extends ../../../../lib/views/authenticated_layout.pug

block content
    h1.mt-5 Reviews
    a(href='/merchant/reviews/new')
        button.btn.btn-info.my-3 Create New Review
    table.table.table-striped
        thead
            tr
                th(scope="col") ID
                th(scope="col") Name
                th(scope="col") Description
                th(scope="col") Source
                th(scope="col") Sort Order
                th(scope="col") Status
                th(scope="col") Actions
        tbody
            each review, index in reviews
                tr
                    th(scope="row")= review.id
                    td=review.authorName
                    td=review.body
                    td=review.source
                    td=review.position
                    td=review.status == 1 ? 'Active' : 'Inactive'
                    td
                        a(href=`/merchant/reviews/${review.id}/edit`) Edit
            else
                tr
                    th(colspan="7") No Reviews Available