extends ../../../../lib/views/authenticated_layout.pug

block content
    h1.mt-5 Merchant's Page

    a(href='/admin/merchants/new')
        button.btn.btn-info.my-3 Create New Merchant
    table.table.table-striped
        thead
            tr
                th(scope="col") ID
                th(scope="col") Name
                th(scope="col") Email
                th(scope="col") Actions
        tbody
            each user in users
                tr
                    th(scope="row")= user.id
                    td=user.fullName()
                    td=user.email
                    td
                        a(href=`/admin/merchants/${user.id}/edit`) Edit
                        |  | 
                        a(href=`/admin/merchants/${user.id}/payment_methods`) Payment Methods
            else
                tr
                    th(colspan="5") No Merchants Available